.grid > div {
  width: 56px;
}

/* loader-1 */

.loader-1 {
  --background: #62abff;
  --front-color: #8f44fd;
  --back-color: rgb(255 255 255 / 20%);
  --text-color: #414856;
  width: 64px;
  height: 64px;
  scale: 0.4;
  border-radius: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-1 svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-1 svg circle {
  position: absolute;
  fill: none;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform: rotate(-100deg);
  transform-origin: center;
}

.loader-1 svg circle.back {
  stroke: var(--back-color);
}

.loader-1 svg circle.front {
  stroke: var(--front-color);
}

.loader-1 svg.circle-outer {
  height: 86px;
  width: 86px;
}

.loader-1 svg.circle-outer circle {
  stroke-dasharray: 62.75 188.25;
}

.loader-1 svg.circle-outer circle.back {
  animation: circle-outer135 1.8s ease infinite 0.3s;
}

.loader-1 svg.circle-outer circle.front {
  animation: circle-outer135 1.8s ease infinite 0.15s;
}

.loader-1 svg.circle-middle {
  height: 60px;
  width: 60px;
}

.loader-1 svg.circle-middle circle {
  stroke-dasharray: 42.5 127.5;
}

.loader-1 svg.circle-middle circle.back {
  animation: circle-middle6123 1.8s ease infinite 0.25s;
}

.loader-1 svg.circle-middle circle.front {
  animation: circle-middle6123 1.8s ease infinite 0.1s;
}

.loader-1 svg.circle-inner {
  height: 34px;
  width: 34px;
}

.loader-1 svg.circle-inner circle {
  stroke-dasharray: 22 66;
}

.loader-1 svg.circle-inner circle.back {
  animation: circle-inner162 1.8s ease infinite 0.2s;
}

.loader-1 svg.circle-inner circle.front {
  animation: circle-inner162 1.8s ease infinite 0.05s;
}

.loader-1 .text {
  position: absolute;
  bottom: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.loader-1 .text::before,
.loader-1 .text::after {
  content: attr(data-text);
}

.loader-1 .text::before {
  color: var(--text-color);
}

.loader-1 .text::after {
  color: var(--front-color);
  animation: text-animation76 3.6s ease infinite;
  position: absolute;
  left: 0;
}

@keyframes circle-outer135 {
  0% {
    stroke-dashoffset: 25;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 301;
  }

  80% {
    stroke-dashoffset: 276;
  }

  100% {
    stroke-dashoffset: 276;
  }
}

@keyframes circle-middle6123 {
  0% {
    stroke-dashoffset: 17;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 204;
  }

  80% {
    stroke-dashoffset: 187;
  }

  100% {
    stroke-dashoffset: 187;
  }
}

@keyframes circle-inner162 {
  0% {
    stroke-dashoffset: 9;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 106;
  }

  80% {
    stroke-dashoffset: 97;
  }

  100% {
    stroke-dashoffset: 97;
  }
}

@keyframes text-animation76 {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  50% {
    clip-path: inset(0);
  }

  100% {
    clip-path: inset(0 0 0 100%);
  }
}

/* loader-2 */

.loader-2 {
  position: absolute;
  width: 9px;
  height: 9px;
  scale: 0.5;
  top: 48px;
}

.loader-2 div {
  position: absolute;
  width: 50%;
  height: 150%;
  background: #cecece;
  transform: rotate(calc(var(--rotation) * 1deg))
    translate(0, calc(var(--translation) * 1%));
  animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.loader-2 div:nth-child(1) {
  --delay: 0.1;
  --rotation: 36;
  --translation: 150;
}

.loader-2 div:nth-child(2) {
  --delay: 0.2;
  --rotation: 72;
  --translation: 150;
}

.loader-2 div:nth-child(3) {
  --delay: 0.3;
  --rotation: 108;
  --translation: 150;
}

.loader-2 div:nth-child(4) {
  --delay: 0.4;
  --rotation: 144;
  --translation: 150;
}

.loader-2 div:nth-child(5) {
  --delay: 0.5;
  --rotation: 180;
  --translation: 150;
}

.loader-2 div:nth-child(6) {
  --delay: 0.6;
  --rotation: 216;
  --translation: 150;
}

.loader-2 div:nth-child(7) {
  --delay: 0.7;
  --rotation: 252;
  --translation: 150;
}

.loader-2 div:nth-child(8) {
  --delay: 0.8;
  --rotation: 288;
  --translation: 150;
}

.loader-2 div:nth-child(9) {
  --delay: 0.9;
  --rotation: 324;
  --translation: 150;
}

.loader-2 div:nth-child(10) {
  --delay: 1;
  --rotation: 360;
  --translation: 150;
}

@keyframes spinner-fzua35 {
  0%,
  10%,
  20%,
  30%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1%));
  }

  50% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1.5%));
  }
}

/* loader-3 */

.loader-3,
.loader-3:before,
.loader-3:after {
  border-radius: 50%;
}

.loader-3 {
  position: absolute;
  color: #3f3f3f;
  font-size: 11px;
  text-indent: -99999em;
  width: 10em;
  height: 10em;
  scale: 0.275;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader-3:before,
.loader-3:after {
  position: absolute;
  content: "";
}

.loader-3:before {
  width: 5.2em;
  height: 10.2em;
  background: #8f44fd;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 1.8s infinite ease 1.3s;
  animation: load2 1.8s infinite ease 1.3s;
}

.loader-3:after {
  width: 5.2em;
  height: 10.2em;
  background: #8f44fd;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 1.8s infinite ease;
}

@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* loader-4 */

.loader-4 {
  position: absolute;
  scale: 0.25;
  width: 112px;
  height: 112px;
}

.loader-4 .box1,
.loader-4 .box2,
.loader-4 .box3 {
  border: 10px solid #cecece;
  border-radius: 56px;
  box-sizing: border-box;
  position: absolute;
  display: block;
}

.loader-4 .box1 {
  width: 112px;
  height: 48px;
  margin-top: 64px;
  margin-left: 0px;
  animation: abox1 2.4s 0.6s forwards ease-in-out infinite;
}

.loader-4 .box2 {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 0px;
  animation: abox2 2.4s 0.6s forwards ease-in-out infinite;
}

.loader-4 .box3 {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 64px;
  animation: abox3 2.4s 0.6s forwards ease-in-out infinite;
}

@keyframes abox1 {
  0% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  75% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 0px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }
}

@keyframes abox2 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  50% {
    width: 112px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  75% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }
}

@keyframes abox3 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  25% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 64px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  75% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  100% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
}

/* loader-5 */

.loader-5 {
  position: absolute;
  scale: 0.325;
}

.loader-5 svg {
  --blue: #8f44fd;
  stroke: var(--blue);
  stroke-width: 5;
  fill: none;
  stroke-dasharray: 50, 14;
  stroke-dashoffset: 192;
  animation: dash_682 1.8s linear infinite;
}

@keyframes dash_682 {
  72.5% {
    opacity: 1;
  }

  to {
    stroke-dashoffset: 1;
  }
}

/* loader-6 */

@keyframes square-animation {
  0% {
    left: 0;
    top: 0;
  }

  10.5% {
    left: 0;
    top: 0;
  }

  12.5% {
    left: 32px;
    top: 0;
  }

  23% {
    left: 32px;
    top: 0;
  }

  25% {
    left: 64px;
    top: 0;
  }

  35.5% {
    left: 64px;
    top: 0;
  }

  37.5% {
    left: 64px;
    top: 32px;
  }

  48% {
    left: 64px;
    top: 32px;
  }

  50% {
    left: 32px;
    top: 32px;
  }

  60.5% {
    left: 32px;
    top: 32px;
  }

  62.5% {
    left: 32px;
    top: 64px;
  }

  73% {
    left: 32px;
    top: 64px;
  }

  75% {
    left: 0;
    top: 64px;
  }

  85.5% {
    left: 0;
    top: 64px;
  }

  87.5% {
    left: 0;
    top: 32px;
  }

  98% {
    left: 0;
    top: 32px;
  }

  100% {
    left: 0;
    top: 0;
  }
}

.loader-6 {
  position: absolute;
  width: 96px;
  height: 96px;
  scale: 0.275;
  transform: rotate(45deg);
}

.loader-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  margin: 2px;
  border-radius: 0px;
  background: #cecece;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: square-animation 10s ease-in-out infinite both;
}

.loader-square:nth-of-type(0) {
  animation-delay: 0s;
}

.loader-square:nth-of-type(1) {
  animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(2) {
  animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(3) {
  animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(4) {
  animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(5) {
  animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(6) {
  animation-delay: -8.5714285714s;
}

.loader-square:nth-of-type(7) {
  animation-delay: -10s;
}
