.grid > div {
  height: 90px;
}

.frame h1 {
  margin: 0 0 30px;
}

.frame h3 {
  bottom: -20px;
}

.button {
  position: absolute;
  background: rgb(255 255 255 / 16%);
  border: 0;
  width: 54px;
  height: 54px;
  display: grid;
  place-items: center;
  cursor: pointer;
  padding: 0;
  opacity: 0.6;
  scale: 0.7;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.175s;
}

.button:hover {
  opacity: 1;
  background: #8f44fd;
}

/* burger-1 */

.burger-1 {
  scale: 0.6;
}

.burger-1 .line {
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  border-radius: 10px;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.burger-1:hover {
  cursor: pointer;
}

.burger-1.is-closed .line:nth-child(2) {
  opacity: 0;
}

.burger-1.is-closed .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

.burger-1.is-closed .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}

/* burger-2 */

.burger-2 {
  scale: 0.6;
}

.burger-2 .line {
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  border-radius: 10px;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.burger-2:hover {
  cursor: pointer;
}

.burger-2.is-closed .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

.burger-2.is-closed .line:nth-child(3) {
  -webkit-transform: translateY(-13px);
  -ms-transform: translateY(-13px);
  -o-transform: translateY(-13px);
  transform: translateY(-13px);
}

/* burger-3 */

.burger-3 {
  scale: 0.6;
}

.burger-3 .line {
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  border-radius: 10px;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.burger-3:hover {
  cursor: pointer;
}

.burger-3.is-closed .line:nth-child(2) {
  opacity: 0;
}

.burger-3.is-closed .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

.burger-3.is-closed .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

/* burger-4 */
.burger-4 {
  scale: 0.8;
}

/* burger-5 */

.burger-5 {
  scale: 0.6;
}

.burger-5 .line {
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  border-radius: 10px;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.burger-5:hover {
  cursor: pointer;
}

.burger-5.is-closed {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.burger-5.is-closed .line:nth-child(2) {
  width: 0px;
}

.burger-5.is-closed .line:nth-child(1),
.burger-5-6.is-closed .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.burger-5.is-closed .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

.burger-5.is-closed .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}

/* burger-6 */

.burger-6 {
  scale: 0.6;
}

.burger-6 .line {
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  border-radius: 10px;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.burger-6:hover {
  cursor: pointer;
}

.burger-6 {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.burger-6.is-closed {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.burger-6:before {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  border: 5px solid transparent;
  top: calc(50% - 35px);
  left: calc(50% - 35px);
  border-radius: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.burger-6.is-closed:before {
  border: 5px solid #ecf0f1;
}

.burger-6.is-closed .line {
  width: 35px;
}

.burger-6.is-closed .line:nth-child(2) {
  opacity: 0;
}

.burger-6.is-closed .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

.burger-6.is-closed .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}
