.grid > div {
  width: 56px;
}

/* loader-1 */

.loader-1 {
  --background: #62abff;
  --front-color: #6344fd;
  --back-color: rgb(255 255 255 / 20%);
  --text-color: #414856;
  width: 64px;
  height: 64px;
  scale: 0.4;
  border-radius: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-1 svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-1 svg circle {
  position: absolute;
  fill: none;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform: rotate(-100deg);
  transform-origin: center;
}

.loader-1 svg circle.back {
  stroke: var(--back-color);
}

.loader-1 svg circle.front {
  stroke: var(--front-color);
}

.loader-1 svg.circle-outer {
  height: 86px;
  width: 86px;
}

.loader-1 svg.circle-outer circle {
  stroke-dasharray: 62.75 188.25;
}

.loader-1 svg.circle-outer circle.back {
  animation: circle-outer135 1.8s ease infinite 0.3s;
}

.loader-1 svg.circle-outer circle.front {
  animation: circle-outer135 1.8s ease infinite 0.15s;
}

.loader-1 svg.circle-middle {
  height: 60px;
  width: 60px;
}

.loader-1 svg.circle-middle circle {
  stroke-dasharray: 42.5 127.5;
}

.loader-1 svg.circle-middle circle.back {
  animation: circle-middle6123 1.8s ease infinite 0.25s;
}

.loader-1 svg.circle-middle circle.front {
  animation: circle-middle6123 1.8s ease infinite 0.1s;
}

.loader-1 svg.circle-inner {
  height: 34px;
  width: 34px;
}

.loader-1 svg.circle-inner circle {
  stroke-dasharray: 22 66;
}

.loader-1 svg.circle-inner circle.back {
  animation: circle-inner162 1.8s ease infinite 0.2s;
}

.loader-1 svg.circle-inner circle.front {
  animation: circle-inner162 1.8s ease infinite 0.05s;
}

.loader-1 .text {
  position: absolute;
  bottom: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.loader-1 .text::before,
.loader-1 .text::after {
  content: attr(data-text);
}

.loader-1 .text::before {
  color: var(--text-color);
}

.loader-1 .text::after {
  color: var(--front-color);
  animation: text-animation76 3.6s ease infinite;
  position: absolute;
  left: 0;
}

@keyframes circle-outer135 {
  0% {
    stroke-dashoffset: 25;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 301;
  }

  80% {
    stroke-dashoffset: 276;
  }

  100% {
    stroke-dashoffset: 276;
  }
}

@keyframes circle-middle6123 {
  0% {
    stroke-dashoffset: 17;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 204;
  }

  80% {
    stroke-dashoffset: 187;
  }

  100% {
    stroke-dashoffset: 187;
  }
}

@keyframes circle-inner162 {
  0% {
    stroke-dashoffset: 9;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 106;
  }

  80% {
    stroke-dashoffset: 97;
  }

  100% {
    stroke-dashoffset: 97;
  }
}

@keyframes text-animation76 {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  50% {
    clip-path: inset(0);
  }

  100% {
    clip-path: inset(0 0 0 100%);
  }
}

/* loader-2 */
.loader-2 {
  position: absolute;
  width: 54px;
  height: 54px;
  border-radius: 10px;
  scale: 0.65;
  translate: -1px 3px;
}

.loader-2 div {
  width: 6%;
  height: 24%;
  background: #ffffff;
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  animation: fade458 1.25s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.loader-2 .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.loader-2 .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.loader-2 .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.loader-2 .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.loader-2 .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.loader-2 .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.loader-2 .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.loader-2 .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.loader-2 .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.loader-2 .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.loader-2 .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader-2 .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}

/* loader-3 */

.loader-3 {
  position: absolute;
  scale: 0.325;
  width: 89.6px;
  height: 89.6px;
  border-radius: 50%;
  border: 5.5px solid rgb(255 255 255 / 19%);
  box-sizing: content-box;
}

.loader-3:before {
  content: "";
  position: absolute;
  width: 4.5px;
  height: 38.1px;
  top: 9px;
  left: 42.6px;
  background: #6344fd;
  border-radius: 2.2px;
  transform-origin: 2.25px 37px;
  animation: progress-t59zy9 2s linear infinite;
}

.loader-3:after {
  content: "";
  position: absolute;
  width: 4.5px;
  height: 24.6px;
  top: 22.4px;
  left: 42.6px;
  background: #6344fd;
  border-radius: 2.2px;
  transform-origin: 2.25px 23.5px;
  animation: progress-t59zy9 12s linear infinite;
}

@keyframes progress-t59zy9 {
  0% {
    tranform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* loader-4 */

.loader-4 {
  position: absolute;
  scale: 0.25;
  width: 112px;
  height: 112px;
}

.loader-4 .box1,
.loader-4 .box2,
.loader-4 .box3 {
  border: 10px solid #cecece;
  border-radius: 56px;
  box-sizing: border-box;
  position: absolute;
  display: block;
}

.loader-4 .box1 {
  width: 112px;
  height: 48px;
  margin-top: 64px;
  margin-left: 0px;
  animation: abox1 2.4s 0.6s forwards ease-in-out infinite;
}

.loader-4 .box2 {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 0px;
  animation: abox2 2.4s 0.6s forwards ease-in-out infinite;
}

.loader-4 .box3 {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 64px;
  animation: abox3 2.4s 0.6s forwards ease-in-out infinite;
}

@keyframes abox1 {
  0% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  75% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 0px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }
}

@keyframes abox2 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  50% {
    width: 112px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  75% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }
}

@keyframes abox3 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }

  25% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 64px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  75% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  100% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
}

/* loader-5 */

.loader-5 {
  position: absolute;
  scale: 0.325;
}

.loader-5 svg {
  --blue: #8f44fd;
  stroke: var(--blue);
  stroke-width: 5;
  fill: none;
  stroke-dasharray: 50, 14;
  stroke-dashoffset: 192;
  animation: dash_682 1.8s linear infinite;
}

@keyframes dash_682 {
  72.5% {
    opacity: 1;
  }

  to {
    stroke-dashoffset: 1;
  }
}

/* loader-6 */

@keyframes square-animation {
  0% {
    left: 0;
    top: 0;
  }

  10.5% {
    left: 0;
    top: 0;
  }

  12.5% {
    left: 32px;
    top: 0;
  }

  23% {
    left: 32px;
    top: 0;
  }

  25% {
    left: 64px;
    top: 0;
  }

  35.5% {
    left: 64px;
    top: 0;
  }

  37.5% {
    left: 64px;
    top: 32px;
  }

  48% {
    left: 64px;
    top: 32px;
  }

  50% {
    left: 32px;
    top: 32px;
  }

  60.5% {
    left: 32px;
    top: 32px;
  }

  62.5% {
    left: 32px;
    top: 64px;
  }

  73% {
    left: 32px;
    top: 64px;
  }

  75% {
    left: 0;
    top: 64px;
  }

  85.5% {
    left: 0;
    top: 64px;
  }

  87.5% {
    left: 0;
    top: 32px;
  }

  98% {
    left: 0;
    top: 32px;
  }

  100% {
    left: 0;
    top: 0;
  }
}

.loader-6 {
  position: absolute;
  width: 96px;
  height: 96px;
  scale: 0.275;
  transform: rotate(45deg);
}

.loader-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  margin: 2px;
  border-radius: 0px;
  background: #cecece;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: square-animation 10s ease-in-out infinite both;
}

.loader-square:nth-of-type(0) {
  animation-delay: 0s;
}

.loader-square:nth-of-type(1) {
  animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(2) {
  animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(3) {
  animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(4) {
  animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(5) {
  animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(6) {
  animation-delay: -8.5714285714s;
}

.loader-square:nth-of-type(7) {
  animation-delay: -10s;
}
