* {
  box-sizing: border-box;
}

.grid {
  margin-top: -10px;
  grid-template-columns: 1fr;
}

.grid > div {
  height: 44px;
  width: 130px;
}

.frame {
  translate: 0 10px;
  scale: 1.45;
}

.frame header {
  top: -60px;
  width: 300px;
  left: 50%;
  translate: -50% 0;
}

.grid > div > p {
  left: -16px;
  top: 50%;
  translate: 0 -50%;
}

.frame h3 {
  bottom: -32px;
  white-space: nowrap;
}

button {
  font-family: inherit;
}

/* button-1 */

ul {
  list-style: none;
  padding: 0;
}

.button-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  scale: 0.5;
}
.button-1 .icon-content {
  margin: 0 10px;
  position: relative;
}
.button-1 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.button-1 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.button-1 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.button-1 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.button-1 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.button-1 .icon-content a:hover {
  color: white;
}
.button-1 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.button-1 .icon-content a:hover .filled {
  height: 100%;
}

.button-1 .icon-content a[data-social="linkedin"] .filled,
.button-1 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.button-1 .icon-content a[data-social="github"] .filled,
.button-1 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.button-1 .icon-content a[data-social="instagram"] .filled,
.button-1 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.button-1 .icon-content a[data-social="youtube"] .filled,
.button-1 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}
