body {
  background: #14171a;
}

.grid > div {
  height: 78px;
}

.frame {
  translate: 0 10px;
}

.frame header {
  top: -60px;
}

.frame h3 {
  bottom: -30px;
}

button {
  font-family: inherit;
}

/* btn-2 */

.btn-1,
.btn-1 *,
.btn-1 :after,
.btn-1 :before,
.btn-1:after,
.btn-1:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-1 {
  scale: 0.5;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #060a0d;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#060a0d, #fff);
  padding: 0;
}

.btn-1:disabled {
  cursor: default;
}

.btn-1:-moz-focusring {
  outline: auto;
}

.btn-1 svg {
  display: block;
  vertical-align: middle;
}

.btn-1 [hidden] {
  display: none;
}

.btn-1 {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}

.btn-1 .original {
  background: #fff;
  color: #060a0d;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.3s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-1:hover .original {
  transform: translateY(100%);
}

.btn-1 .letters {
  display: inline-flex;
}

.btn-1 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.3s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.3s;
}

.btn-1 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-1:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-1:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-1:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-1:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-1:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-1:hover span:nth-child(6) {
  transition-delay: 0.5s;
}

/* btn-2 */

.btn-2 {
  scale: 0.5;
  padding: 0 50px;
  width: 160px;
  height: 64px;
  background: #060a0d;
  color: white;
  border: none;
  border-radius: 32px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.btn-2:hover {
  color: #060a0d;
}

.btn-2:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.btn-2:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* btn-3 */

.btn-3 {
  scale: 0.65;
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  background-color: #060a0d;
  color: #fff;
  border-radius: 10rem;
  font-weight: 600;
  font-size: 14px;
  padding: 12px 24px 12px 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
  cursor: pointer;
}

.btn-3 .button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: #060a0d;
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.btn-3:hover {
  background-color: #8f44fd;
}

.btn-3:hover .button__icon-wrapper {
  color: #8f44fd;
}

.btn-3 .button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.btn-3:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.btn-3:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}

/* btn-4 */

.btn-4 {
  scale: 0.5;
  --width: 160px;
  --height: 64px;
  --tooltip-height: 40px;
  --tooltip-width: 110px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #060a0d;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: absolute;
  text-align: center;
  border-radius: 32px;
  font-family: inherit;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-4::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: var(--tooltip-color);
  font-size: 16px;
  color: #060a0d;
  border-radius: 6px;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.btn-4::after,
.btn-4::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.btn-4 .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-4 .button-wrapper,
.btn-4 .text,
.btn-4 .icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.btn-4 .text {
  top: 0;
}

.btn-4 .text,
.btn-4 .icon {
  transition: top 0.5s;
}

.btn-4 .icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-4 .icon svg {
  width: 24px;
  height: 24px;
}

.btn-4:hover {
  background: #8f44fd;
}

.btn-4:hover .text {
  top: -100%;
}

.btn-4:hover .icon {
  top: 0;
}

.btn-4:hover:before,
.btn-4:hover:after {
  opacity: 1;
  visibility: visible;
}

.btn-4:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.btn-4:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

/* btn-5 */

.btn-5 {
  --primary: #8f44fd;
  --neutral-1: #f7f8f7;
  --neutral-2: #e7e7e7;
  --radius: 32px;
  scale: 0.5;
  cursor: pointer;
  border-radius: var(--radius);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 0.3s ease;
  min-width: 160px;
  padding: 0 20px;
  height: 64px;
  font-family: "Galano Grotesque", Poppins, Montserrat, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
}
.btn-5:hover {
  transform: scale(1.02);
}
.btn-5:active {
  transform: scale(1);
}
.btn-5:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: var(--radius);
  background: #fff;
  border: 2.5px solid transparent;
  z-index: 0;
  transition: all 0.4s ease;
}
.btn-5:hover::after {
  transform: scale(1.05, 1.1);
}
.btn-5::before {
  content: "";
  inset: 7px 6px 6px 6px;
  position: absolute;
  border-radius: 30px;
  filter: blur(0.5px);
  z-index: 2;
}
.btn-5 .state p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-5 .state .icon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: scale(1.25);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-5 .state .icon svg {
  overflow: visible;
}

/* Outline */
.btn-5 .outline {
  position: absolute;
  border-radius: inherit;
  overflow: hidden;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.4s ease;
  inset: -2px -3.5px;
}
.btn-5 .outline::before {
  content: "";
  position: absolute;
  inset: -100%;
  background: conic-gradient(
    from 180deg,
    transparent 60%,
    white 80%,
    transparent 100%
  );
  animation: spin 2s linear infinite;
  animation-play-state: paused;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.btn-5:hover .outline {
  opacity: 1;
}
.btn-5:hover .outline::before {
  animation-play-state: running;
}

/* Letters */
.btn-5 .state p span {
  display: block;
  opacity: 0;
  animation: slideDown 0.8s ease forwards calc(var(--i) * 0.03s);
}
.btn-5:hover p span {
  opacity: 1;
  animation: wave 0.5s ease forwards calc(var(--i) * 0.02s);
}
.btn-5:focus p span {
  opacity: 1;
  animation: disapear 0.6s ease forwards calc(var(--i) * 0.03s);
}
@keyframes wave {
  30% {
    opacity: 1;
    transform: translateY(4px) translateX(0) rotate(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-3px) translateX(0) rotate(0);
    color: var(--primary);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(0) rotate(0);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px) translateX(5px) rotate(-90deg);
    color: var(--primary);
    filter: blur(5px);
  }
  30% {
    opacity: 1;
    transform: translateY(4px) translateX(0) rotate(0);
    filter: blur(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-3px) translateX(0) rotate(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(0) rotate(0);
  }
}
@keyframes disapear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(5px) translateY(20px);
    color: var(--primary);
    filter: blur(5px);
  }
}

/* Plane */
.btn-5 .state--default .icon svg {
  animation: land 0.6s ease forwards;
}
.btn-5:hover .state--default .icon {
  transform: rotate(45deg) scale(1.25);
}
.btn-5:focus .state--default svg {
  animation: takeOff 0.8s linear forwards;
}
.btn-5:focus .state--default .icon {
  transform: rotate(0) scale(1.25);
}
@keyframes takeOff {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
    transform: translateX(70px) rotate(45deg) scale(2);
  }
  100% {
    opacity: 0;
    transform: translateX(160px) rotate(45deg) scale(0);
  }
}
@keyframes land {
  0% {
    transform: translateX(-60px) translateY(30px) rotate(-50deg) scale(2);
    opacity: 0;
    filter: blur(3px);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(0);
    opacity: 1;
    filter: blur(0);
  }
}

/* Contrail */
.btn-5 .state--default .icon:before {
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  width: 0;
  left: -5px;
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5));
}
.btn-5:focus .state--default .icon:before {
  animation: contrail 0.8s linear forwards;
}
@keyframes contrail {
  0% {
    width: 0;
    opacity: 1;
  }
  8% {
    width: 15px;
  }
  60% {
    opacity: 0.7;
    width: 80px;
  }
  100% {
    opacity: 0;
    width: 160px;
  }
}

/* States */
.btn-5 .state {
  padding-left: 29px;
  z-index: 2;
  display: flex;
  position: relative;
}
.btn-5 .state--default span:nth-child(4) {
  margin-right: 5px;
}
.btn-5 .state--sent {
  display: none;
}
.btn-5 .state--sent svg {
  transform: scale(1.25);
  margin-right: 8px;
}
.btn-5:focus .state--default {
  position: absolute;
}
.btn-5:focus .state--sent {
  display: flex;
}
.btn-5:focus .state--sent span {
  opacity: 0;
  animation: slideDown 0.8s ease forwards calc(var(--i) * 0.2s);
}
.btn-5:focus .state--sent .icon svg {
  opacity: 0;
  animation: appear 1.2s ease forwards 0.8s;
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(4) rotate(-40deg);
    color: var(--primary);
    filter: blur(4px);
  }
  30% {
    opacity: 1;
    transform: scale(0.6);
    filter: blur(1px);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
    filter: blur(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* btn-6 */

.btn-6 {
  scale: 0.5;
  position: absolute;
  width: 160px;
  height: 64px;
  border-radius: 32px;
  border: none;
  background-color: #8f44fd;
  font-family: inherit;
  font-size: 18px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-6:hover {
  animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
